.profilePage {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 3fr;
    grid-template-areas:
            "pi pi pi"
            "av pf pj"
            "ph ph ph"
            "po po po";
    grid-gap: 20px;
}

.profileImgBlock {
    grid-area: pi;
}

.profileImgBlock img {
    width: 100%;
    border-radius: 15px;
}

.avatarBlock {
    grid-area: av;
    background-color: white;
}

.avatar {

}

.avatar img {
    height: 150px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    border: 1px solid black;
}

.profileBlock {
    grid-area: pf;
    background-color: white;
}

.projectsBlock {
    grid-area: pj;
    background-color: white;
}

.photoBlock {
    grid-area: ph;
    background-color: white;
}

.postsBlock {
    grid-area: po;
    background-color: #d6d6d6;
    justify-self: center;
    width: 50%;
}

.textarea {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}

.block {
    border-radius: 15px;
    padding: 10px;
}

.name {
    text-align: center;
}

.postTextarea {
    width: 100%;
    height: 100px;
}

.profileInfo {

}