.header {
    grid-area: h;
    background-color: #212121;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
margin-left: 100px;
}

.logo img {
    width: 70px;
}

.logo span {
    color: white;
    margin-left: 15px;
    font-size: 35px;
    vertical-align: bottom;
}
.auth a {
    text-decoration: none;
}
.auth {
    color: white;
}